@import "tailwindcss";

:root {
  font-family: "Klee One", "M PLUS Rounded 1c", ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Segoe UI, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  @apply bg-orange-50 text-gray-800;
  margin: 0;
  min-height: 100vh;
}
